{% extends 'layout/basic.html' %}

{% block content %}

<div class="container">
         <p>
    {% if previous_day %}
        Прошлый день: {{ previous_day }}
    {% endif %}
    {% if previous_day and next_day %}--{% endif %}
             Объявления за {{ day }}
    {% if next_day %}
        Следующий день: {{ next_day }}
    {% endif %}
    </p>

{% for bb in object_list %}
    <div class="content-ads-item">
                <div class="content-ads-header">
                    <p>Рубрика: <a href="{{ bb.rubric.get_absolute_url }}">{{ bb.rubric.name }}</a></p>
                    <p>Дата публикации: {{ bb.time_create|date:"d.m.Y" }}</p>
                </div>
                <div class="content-ads-items">
                    <img class="content-ads-image" src="{{ bb.image.url }}">
                    <div class="content-ads-description">
                        <h3>{{ bb.title }}</h3>
                        <p>{{ bb.content|truncatewords:20 }}</p>
                        <p>${{ bb.price }}</p>
                    </div>
                </div>

                <p class="content-ads-open"><a href="{{ bb.get_absolute_url }}">Открыть</a></p>

    </div>



{% endfor %}

</div>

{% endblock content %}