{% extends "layout/basic.html" %}

{% load static %}

{% block content %}


<div class="content-ads container">
            <div class="content-ads-item">
                <div class="content-ads-header">
                    <p>Рубрика: <a href="{{ bb.rubric.get_absolute_url }}">{{ bb.rubric.name }}</a></p>
                    <p>Дата публикации: {{ bb.time_create|date:"d.m.Y" }}</p>
                </div>
                <div class="content-ads-items">
                    <img class="content-ads-image" src="{{ bb.image.url }}">
                    <div class="content-ads-description">
                        <h3>{{ bb.title }}</h3>
                        </br>
                        <p>{{ bb.content|linebreaks }}</p>
                        </br>
                        <p>${{ bb.price }}</p>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}