{% extends 'layout/basic.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}

<style>
  @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);

  .bform {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bform h1 {
    color: #3e4555;
  }

  .bform .subtitle {
    color: #8d97ad;
    line-height: 24px;
  }

  .bform a {
    text-decoration: none;
  }

  .bform .btn-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  }

  .bform .btn-danger-gradiant:hover {
    background: #ff6a5b;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
  }

  .bform .btn-md {
    padding: 15px 45px;
    font-size: 16px;
  }

  .bform .bg-facebook {
    background-color: #3b5a9a;
  }

  .bform .bg-twitter {
    background-color: #56adf2;
  }

  .bform .text-danger {
    color: #ff4d7e !important;
  }

  .bform .right-image {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
  }

  @media (max-width: 1023px) {
    .bform .contact-form {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 767px) {
    .bform .contact-form {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  @media (max-width: 1023px) {
    .bform .right-image {
      position: relative;
      bottom: -95px;
    }
  }



</style>

<div class="bform py-5">
    <div class="container">
        <div class=" align-justify-center pr-4 pl-0 contact-form">
            <h1 class="mb-3 h1 text-center font-weight-light">Выход</h1>
            <form class="signup mt-3" id="signup_form" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <input class="form-control" type="{{ field.field.widget.input_type }}" name="{{ field.name }}"
                           placeholder="{{ field.label }}">
                    {{ f.errors }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-md btn-block btn-danger-gradiant text-white border-0"
                        style="margin-bottom: 5px;">Отправить
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}