{% extends "layout/basic.html" %}

{% load static %}

{% load bboard_tags %}

{% block content %}

{% all_rubrics as rubrics %}

<div class="container">
    <div class="content-row">
        <div class="content-rubrics">
            {% for rubric in rubrics %}
            <div class="content-rubrics-item">
                <a href="{{ rubric.get_absolute_url }}" class="">
                    <div class="content-rubrics-items">
                        <h3 class="content-rubric-title">{{ rubric.name }}</h3>
                        <img class="content-rubric-image" src="{{ rubric.image.url }}">
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="content-ads">
            {% for bb in bbs %}
            <div class="content-ads-item">
                <div class="content-ads-header">
                    <p>Рубрика: <a href="{{ bb.rubric.get_absolute_url }}">{{ bb.rubric.name }}</a></p>
                    <p>Дата публикации: {{ bb.time_create|date:"d.m.Y" }}</p>
                </div>
                <div class="content-ads-items">
                    <img class="content-ads-image" src="{{ bb.image.url }}">
                    <div class="content-ads-description">
                        <h3>{{ bb.title }}</h3>
                        <p>{{ bb.content }}</p>
                        <p>${{ bb.price }}</p>
                    </div>
                </div>

                <p class="content-ads-open"><a href="{{ bb.get_absolute_url }}">Открыть</a></p>

            </div>
            {% endfor %}
        </div>


    </div>
</div>

{% endblock %}