{% extends "layout/basic.html" %}

{% load static %}

{% block content %}

        <div class="container">
            <h1 class="text-center title-h1 mt-5">Рубрики</h1>

            <div class="row gx-4 shop mb-5">
                 {% for rubric in rubrics %}
                    <div class="shop-item shop-item01 bb-margin rubrics-img">
                        <div class="row align-items-center text-info">
                            <div class="col-xl-8 col-sm-12">
                                <h2><a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a></h2>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
            </div>
        </div>



{% endblock %}