{% extends 'layout/basic.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}

<div class="container">
    {% if not user.is_authenticated %}
        <p>Необходимо войти.</p>
    {% else %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="create-btn" type="submit">Изменить</button>
        <a href="{% url 'index' %}"><button class="create-btn" type="button">Отменить</button></a>
    </form>
</div>
{% endif %}

{% endblock %}