{% extends 'layout/base.html' %}
{% load static %}

{% block content %}

<div class="about">
        <h2>О компании</h2>
    <img src="{% static 'website/img/about.png' %}">
        <p class="pros">ESET — международный разработчик антивирусных решений для дома и бизнеса. Компания основана в 1992 году. Главный офис находится в Братиславе, столице Словакии. Представительства компании открыты в 202 странах мира.

            Компания ESET Russia работает с января 2005 года в России и СНГ. Нас выбирают уже более 15 млн пользователей.

            Продукты ESET NOD32 стабильно получают высокие награды независимых вирусных лабораторий. В 2019 году эксперты «Роскачества» присудили второе место в рейтинге лучших домашних антивирусов нашему решению ESET NOD32 Internet Security и первое — ESET NOD32 Cyber Security Pro для macOS

            Решения ESET NOD32 сертифицированы Федеральной службой по техническому и экспортному контролю (ФСТЭК России) и могут быть использованы для защиты информационных систем обработки персональных данных до класса К1 включительно (наивысшая степень надежности).

            Более 250 компаний партнерской сети и 9 региональных представительств позволяют оперативно реагировать на запросы корпоративных клиентов. Нас выбирают Rambler&Co, телеканал СТС, АвтоВАЗ и другие ведущие компании в России и СНГ.

            PRO32 / DIGITAL TRADE, представленное организацией ООО «ПРО32 Трейд», ООО «ПРО32» входят в реестр аккредитованных ИТ-компаний Минцифры РФ № 21075, № 29742 и осуществляет деятельность по разработке, продаже и технической поддержке программного обеспечения по следующим кодам ОКВЭД: 62.01; 62.02; 62.09; 63.11.1; 46.51; 46.66; 46.90; 47.41; 47.91.2; 47.91.3; 47.91.4.

            Наши программные продукты Getscreen.ru и Пассворк входят в Единый реестр российских программ для электронных вычислительных машин и баз данных под реестровыми записями № 14150 и № 6147 соответственно. Также мы работаем над включением в Единый реестр других продуктов и сервисов PRO32.</p>
    </div>

{% endblock %}