{% extends 'layout/basic.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center title-h1 mt-5">Удаление Задачи</h2>

<div class="row gx-4 shop mb-5">

    <form action="" method="post">

        <div>
        <p>Задача: {{ task.sender }}</p>
        <p>Заметки: {{ task.notes }}</p>
        <p>Старт: {{ task.start }}</p>
        <p>Статус: {{ task.is_completed }}</p>
        </div>
        {% csrf_token %}
        <p>Вы действительно хотите удалить задачу?</p>
        <input type="submit" value="Удалить">

    </form>

</div>


{% endblock %}