{% load static %}

{% load bboard_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %} ::
        Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'bboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bboard/css/media.css' %}">
    </head>
<body>

<header class="header">
    <div class="container">
        <div class="header-nav">
            <a href="{% url 'index' %}" class="logo">NAVARO</a>
            <nav class="nav">
<!--                <ul class="nav-list">-->
<!--                    {% for m in menu %}-->
<!--                    <li class="nav-item">-->

<!--                                {% if m.url_name %}-->
<!--                                <a href="{% url m.url_name %}" class="nav-link">{{ m.title }}</a>-->
<!--                                {% else %}-->
<!--                                <span class="nav-link">{{ m.title }}</span>-->
<!--                                {% endif %}-->
<!--                    </li>-->
<!--                    {% endfor %}-->
<!--                    <a href="#" class="nav-link" >Регистрация</a> <a href="#" class="nav-link">Войти</a>-->
<!--                </ul>-->
                <div class="dropdown dropdown-title">
                    <a href="{% url 'index' %}" class="nav-link text-light" aria-current="page">Главная</a>
                </div>
                <div class="dropdown dropdown-title">
                    <span class="nav-link text-light">Объявления</span>
                    <div class="dropdown-content">
                        <a href="{% url 'add' %}" class="dropdown">Создать объявление</a>
                    </div>
                </div>
                <div class="dropdown dropdown-title">
                    <span class="nav-link text-light">Задачи</span>
                    <div class="dropdown-content">
                        <a href="{% url 'task_add' %}" class="dropdown" style="width: 200px;">Создать задачу</a>
                        <a href="{% url 'list_tasks' %}" class="dropdown">Все задачи</a>
                    </div>
                </div>
            </nav>

        </div>
    </div>
</header>


{% block content %}


{% endblock %}

{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
		    {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
		    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <li class="page-num">
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
		    {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}

    </ul>
</nav>
{% endif %}

<footer>
    <div class="container footer">
        <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twiter</a></li>
        </ul>
        <ul>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul>
            <li><a href="#" >Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
        </ul>

    </div>
        <p class="footer-inc">© 2023 Company, Inc</p>
</footer>

</body>
</html>