{% extends 'layout/basic.html' %}

{% load static %}

{% block content %}


<div class="container">


    <form method="post">
        {% csrf_token %}
        <h1 class="task-title">Вы действительно хотите удалить задачу {{ task.name }}?</h1>
        <div class="text-center">
            <button class="btn text-white" style="background-color: #7BA7AB;" type="submit" value="Удалить">Подтвердить</button>
            <a href="{% url 'tasksheet:list_tasks' %}">
                <button type="button" class="btn text-white" style="background-color: #7BA7AB;">Отмена</button>
            </a>
        </div>
    </form>


</div>


{% endblock %}