{% extends 'layout/basic.html' %}

{% load static %}

{% block content %}


<div class="container">
    <h1 class="task-title">Удаление</h1>

    <div class="list-items">
        <img class="list-image" src="{% static 'bboard/img/task.png' %}" alt="logo">

        <form method="post">
            {% csrf_token %}
            <div class="task-content">
                <p class="task-name">Задача: {{ task.name }}</p>
                <p class="task-notes">{{ task.notes }}</p>
                <p>Старт: {{ task.start }}</p>
                <p>Статус: {{ task.is_completed }}</p>
            </div>


            <div class="task-btns">
                <a href="{% url 'list_tasks' %}"><button type="button" class="task-btn">Отмена</button></a>
                <button class="task-btn" type="submit" value="Удалить">Удалить</button>
            </div>
        </form>

    </div>

</div>


{% endblock %}