{% extends 'layout/basic.html' %}

{% load static %}

{% block content %}

<div class="container">

    {% if tasks %}
        <h1 class="task-title">Лист Задач</h1>
    {% else %}
        <h1 class="task-title">Активных задач нет</h1>
        <div class="text-center h5"><a href="{% url 'tasksheet:task_add' %}">Создать?</a></div>
    {% endif %}

    <div class="list-container">

    {% for task in tasks %}
    <div class="list-items">
        <img class="list-image" src="{% static 'bboard/img/task.png' %}" alt="logo">

        <div class="task-content">
          <p class="task-name">Задача: {{ task.name }}</p>
          <p class="task-notes">{{ task.notes }}</p>
        </div>
        <small class="">
            Статус: {{ task.is_completed }}
        </small>
    </div>
    <div class="task-btns">
        <a href="{% url 'tasksheet:delete_task' task.pk %}"><button class="task-btn">Удалить</button></a>
        <a href="{% url 'tasksheet:update_task' task.pk %}"><button class="task-btn">Изменить</button></a>
    </div>
    {% endfor %}
    </div>

</div>


{% endblock %}


