{% extends 'layout/basic.html' %}

{% block content %}

<div class="container">

    <h1 class="create-title">{{ title }}</h1>

    <div class="create-form">
        <form class="btn-align" action="" method="post">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% csrf_token %}
            {% for f in form %}
            <p class="authapp-label"><label class="form-label-authapp" for="f.id_for_label">{{ f.label }}:</label> {{ f }} </p>
            <div class="form-error">
                {{ f.errors }}
            </div>
            {% endfor %}
            <div class="btn-align">
                <button class="btn text-white" style="background-color: #7BA7AB;" type="submit" value="Добавить">
                    Изменить
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}